img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

#jnlogo {
  font-family: 'Special Elite', cursive;
  margin: 1.66% 0 1px 1.66%;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 2px solid gray;
  width: 96.68%;
  letter-spacing: -3px;
  font-size: 4.5vw;
}

#camera-logo-img {
  width: 40px;
}

#camera-logo {
  padding-top: 5px;
}
